#seating-chart {
    margin-left: 30px;
    margin-top: 30px;
    width: 94vw;
}
#seating-chart .grid-room {
    display: grid;
    grid-template-columns: auto auto 2% auto auto auto 2% auto auto;
    padding: 4px;
}
#seating-chart .grid-seat-able {
    margin: 2px;
    height: 64px;
    width: 96%;
    text-align: left;
    position: relative;
    display: grid;
    grid-template-areas: 'num img text';
    grid-template-columns: 28px 40px auto;
    background-color: #efb45d;
}
#seating-chart .grid-seat-unable {
    margin: 2px;
    height: 64px;
    width: 96%;
    text-align: left;
    position: relative;
    display: grid;
    grid-template-areas: 'num img text';
    grid-template-columns: 28px 40px auto;
    background-color: #7493a2;
}
#seating-chart img {
    width: 40px;
    height: 50px;
    grid-area: img;
}
#seating-chart .seat-num {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Consolas", monospace;
    font-weight: bold;
    grid-area: num;
}
#seating-chart .seat-text {
    padding-left: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Consolas", monospace;
    font-weight: bold;
    grid-area: text;
}
#seating-chart .white-board {
    border-style: double;
    background-color: #ffffff;
    height: 24px;
    text-align: center;
    width: parent;
}
#seating-chart li {
    font-size: 18px;
}
#seating-chart .grid-way {
    width: 1%;
}
#seating-chart span.emoji {
    font-size: 30px;
    vertical-align: middle;
    line-height: 0;
}
#global-footer {
    visibility: collapse;
}

#timer_server_progress {
    width: 100%;
    margin-right: 70px;
    margin-top: 5px;
    position: relative;
}

#timer_server_bar {
    width: 0;
}

#timer_server_progress label{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

#timer_server_progress_in_setting {
    width: 100%;
    margin-right: 70px;
    margin-top: 5px;
    position: relative;
}

#timer_server_bar_in_setting {
    width: 0;
}

#timer_server_progress_in_setting p{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

#status_bt {
    width: fit-content;
    height: auto;
    
}

/*popup2*/
.quick-time-set .form-control{
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline;
    margin-right: 10px;
    width: 80px;
}


.quick-time-set-value input{
    display: inline;
    margin-right: 10px;
    width:80px;
}

.quick-time-set-value label,.quick-time-set label{
    display: inline;
    margin-right: 10px;
}
.modal-footer label{
    float: left;
    margin-right: 10px;
}
.modal-footer input{
    float: left;
}
.quickopen,.quickclose {
    width:95%;
    height: 50px;
    margin-bottom: 10px;
    
}
.addtime{
    width:160px;
    margin: 5px;
    
}